.title-area.container-fluid
  .col-7.offset-1.justify-content-left
    .row
      .main-info.col-9
        %h2 Recent Reviews
        %button.btn Click to Log In
    -# .row
    -#   .rating.container.no-padding
    -#     .stars.d-inline-block
    -#       %img{:src => "http://placehold.it/135x25"}
    -#     .rev-num.d-inline-block
    -#       %span 66 reviews
.businesses-wrapper.col-8.offset-1.justify-content-left
  - if @businesses.length == 0
    %p No businesses found, why not create one?
  - else
    - @businesses.each_with_index do |biz, idx|
      .business.container.pt-2.divider
        .row
          .title-img
            %img{:src => "http://placehold.it/90x90"}
          .main-info.col-5
            %span=  "#{idx + 1}"
            = link_to "#{biz.title}"
            .rating.container.no-padding
              .stars.d-inline-block
                %img{:src => "http://placehold.it/100x18"}
              .rev-num.d-inline-block
                %span 66 reviews
            -# .type
            -#   %span £££ .
            -#   %a{:href => "#"} Cat1, cat2
          .address.col-4.offset-1
            %address
              = "#{biz.address}"
              %br
              = "#{biz.city}, #{biz.postcode}"
              %br
              01273 3333333
        .container.row.business-review.no-padding
          .reviewer-img
            %img{:src => "http://placehold.it/30x30"}
          .review.col-11
            %p= "For context, I'm a fish lover from California so I'm thankfully in a position to always be eating fresh fish prepared in numerous styles. I literally stumbled on this location while… #{link_to 'read more', '#'}".html_safe
